.padre{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: #333333;
}
.container{
    width: 400px;
    background-color: rgba(112, 110, 110, 0.2);
    border-radius: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
form {
    margin-top: 20px;
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
    opacity: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px 20px;
    background-color:  rgba(247, 240, 240, 0.315);
    border: 1px solid #2e2b2b;
    border-radius: 15px;
}
.button{
    text-align: center;
    align-items: center;
    justify-content: center;
}
button[type="submit"] {    
    padding: 10px 20px;
    background-color: #53a2e2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}
::placeholder{
    color: #ffffff;
    opacity: 0.5;
}