<div class="padre">
<div class="container">
    <h1>Registro usuario</h1>
    <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Usuario</label>
            <input type="text" name="name" ngModel class="form-control" id="name" required minlength="3" placeholder="Usuario*">
            
            <div class="required" *ngIf="registerForm.controls['name'].hasError('minlength')">
                El nombre debe tener al menos 2 caracteres.
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email"  [(ngModel)]="email" placeholder="Correo electónico*" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            
            <div class="required" *ngIf="registerForm.controls['email'].hasError('pattern')">
                El correo electrónico no tiene un formato válido.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password"  class="form-control" id="password" [(ngModel)]="password" required minlength="6" placeholder="Contraseña*">
            
            <div class="required" *ngIf="registerForm.controls['password'].hasError('minlength')">
                La contraseña debe tener al menos 6 caracteres.
            </div>
            <div class="requiredTrue" *ngIf="successful">
                Registro exitoso
            </div>
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrarme</button>
        </div>
    </form>
</div>

<!-- 
    El (ngSubmit) ejecuta lo que hace el button type=submit, cuando se le de click el va a ejecutar la función de (ngSubmit) = "register()"
-->