<footer class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10 mt-2">
                    <p>
                        La API APOD (Astronomy Picture of the Day) es una de las APIs más populares de la NASA. Proporciona una imagen astronómica diferente cada día, junto con metadatos asociados y, si se establece el parámetro concept_tags en True, palabras clave derivadas de la explicación de la imagen
                    </p>
                </div>
            </div>
            
        </div>
        <div class="text-center p-2 bg-dark">
            Proyecto Angular 
        </div>
    </div>
</footer>