div .navbar{
    margin: 2px;    
    border-radius: 10px;
    padding: 8px;
    
}
.container-fluid{
    background-color: rgba(73, 71, 71, 0.349);
    opacity: 0.9;
}
.navbar-brand{
    color: white;
    opacity: 10;
    font-size: 30px; 
    
}

a{
    color: white;
    font-size: 20px;
    
}
a:hover{
    color: rgb(126, 178, 223);
}
a:visited {
    color:  rgb(126, 178, 223); 
}

.navbar-brand[_ngcontent-ng-c594888239] {
    color: white;
    opacity: 10;
    padding: 20px;
}